<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parametros del Request HTTP GET - URL</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola Caremuerto')}">/params/string?texto=Hola Caremuerto)</a></li>
<li><a th:href="@{/params/string(texto='HOLA SAPO HPTA')}">/params/string?texto=HOLA SAPO HPTA)</a></li>
<li><a th:href="@{/params/mixParams(saludo='Como estas Andres', numero=7)}">/params/mixParams?saludo=Como estas Andres&numero=7)</a></li>
<li><a th:href="@{/params/mixParamsRequest(saludo='Como estas Andres', numero=a)}">/params/mixParamsRequest?saludo=Como estas Andres&numero=7)</a></li>


</ul>
	
</body>
</html>