<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h3 th:text="${title}"></h3>
	<ul>
		<li th:text="${usuaio.id}"></li>
		<li th:text="${usuaio.nombre}"></li>
		<li th:text="${usuaio.apellido}"></li>
	</ul>
</body>
</html>