<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lo sentimos, pagina no encontrada 404!</title>
</head>
<body>
<h3>Lo sentimos, pagina no encontrada 404!</h3>
<div th:text="${error}"></div>
<div th:text="${status}"></div>
<div th:text="${timestamp}"></div>
<div th:text="${path}"></div>
</body>
</html>