<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<a th:href="@{/form}">Crear cliente</a>
	<table>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Fecha</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		<tr th:each="cl: ${clientes}">
			<td th:text="${cl.id}"></td>
			<td th:text="${cl.nombre}"></td>
			<td th:text="${cl.apellido}"></td>
			<td th:text="${cl.email}"></td>
			<td th:text="${cl.createAt}"></td>
			<td><a th:href="@{/form/} + ${cl.id}" th:text="'Editar'"></a></td>
			<td><a th:href="@{/eliminar/} + ${cl.id}" th:text="'Eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
		</tr>
	</table>
</body>
</html>