<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<ul>
<li><a th:href="@{/variables/string/} + 'Hola Andres '">/variables/string/Hola Andres</a></li>
<li><a th:href="@{/variables/string/} + 'Que tal Jhon '">/variables/string/Que tal Jhon</a></li>
<li><a th:href="@{/variables/string/} + 'Saludos Andres ' + '/' + 90 ">/variables/string/Saludos Andres</a></li>

</ul>
</body>
</html>