<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<div th:text="${horario}"></div>
</body>
</html>